@import url(https://fonts.googleapis.com/css?family=Lato:300italic);
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&family=Waterfall&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background: #ee9ca7;
}
#cake {
  display: block;
  position: relative;
  margin: -10em auto 0 auto;
}
/* ============================================== Candle */
.velas {
  background: #fff;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 50%;
  margin-left: -2.4px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}
.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}
.velas:after {
  top: 25%;
  left: 0;
}
.velas:before {
  top: 45%;
  left: 0;
}
/* ============================================== Fire */
.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.6px;
  width: 6.66666667px;
  height: 18px;
}
.fuego:nth-child(1) {
  animation: fuego 2s 6.5s infinite;
}
.fuego:nth-child(2) {
  animation: fuego 1.5s 6.5s infinite;
}
.fuego:nth-child(3) {
  animation: fuego 1s 6.5s infinite;
}
.fuego:nth-child(4) {
  animation: fuego 0.5s 6.5s infinite;
}
.fuego:nth-child(5) {
  animation: fuego 0.2s 6.5s infinite;
}
/* ============================================== Animation Fire */
@keyframes fuego {
  0%,
  100% {
    background: rgba(254, 248, 97, 0.5);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    transform: translateY(-20px) scale(0);
  }
}
@keyframes in {
  to {
    transform: translateY(0);
  }
}
.text {
  color: #8b6a60;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
.text h1 {
  font-size: 1.4em;
}

.happy {
  font-family: "Waterfall", cursive;
  font-size: 30pt;
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.age {
  font-family: "Lato", sans-serif;
  font-size: 30pt;
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.name {
  position: absolute;
  top: 55vh;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Signika Negative", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15pt;
  /* color: #fff; */
  /* text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); */
  letter-spacing: 3px;
}

.hope {
  position: absolute;
  top: 66vh;
  left: 50%;
  transform: translateX(-50%);
  /* font-style: normal; */
  font-weight: 500;
  font-size: 11pt;
  /* color: #fff; */
  /* text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); */
  /* letter-spacing: 3px; */
}

.author-message {
  position: absolute;
  top: 84vh;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: 11pt;
}
.author {
  font-size: 10pt;
  position: absolute;
  top: 87vh;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  /* font-size: 11pt; */
}

canvas {
  margin: 0;
  padding: 0;
  display: block;
  touch-action: none;
  position: absolute;
  top: 0;
}
h1.title {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}
p.title {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.particle {
  z-index: 999;
  position: absolute;
  background: rgb(254, 250, 233);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px rgb(254, 250, 233);
  transform-origin: 50% 30px;
}
